body{
    background-image: 
    url(Background.jpg);
    background-size: cover;
}

.header{
    border: 5px solid black;
    text-align: left;
    color: black;
    background-image: url(white-patterned-wallpaper.jpg);
    font-size:  20px;
    margin: -5px;
    padding:10px;
}

.nav-btn{
    font-family: Algerian;
    font-size: 25px;
    color: black;
    border: none;
    margin-top: -30px;
    margin-right: 25px;
}

.header-img1{
    height: 150px;
    width: 150px;
    margin-top: 10px;
    margin-right: 10px;
    border: none;
    }

P.Paragraph{
    font-family: "Algerian";
    padding: 15px;
    font-size: 32px; 
    color: white;
    background-color: rgba(0, 0, 0, 0.8);
    border: 10px solid #86C129;
    border-radius: 10px;
    margin-top: 50px;
    margin-right: 500px;
}

img{
height: 450px;
width: 450px;
border: 20px solid #86C129;
border-radius: 10px;
margin-right: -5px;
}

P.contact-paragraph{
    font-family: "Algerian";
    padding: 15px;
    font-size: 32px; 
    color: white;
    background-color: rgba(0, 0, 0, 0.8);
    border: 10px solid #86C129;
    border-radius: 10px;
    margin-top: 50px;
}

.form{
    border: 10px solid #86C129;
    background-color: black;
    margin-top: 50px;
    margin-left: 35%;
    padding: 5px;
}

footer{
    color:white;
    font-family: "Algerian";
    font-size: 10px;
    background: rgba(0, 0, 0, 0.8);
    margin-top: 160px;
    padding: 5px;
}

@media only screen and (max-width: 1150px) {

    P.Paragraph{
        font-family: "Algerian";
        padding: 5px;
        font-size: 32px; 
        color: white;
        background-color: rgba(0, 0, 0, 0.8);
        border: 10px solid #86C129;
        border-radius: 10px;
        margin-top: 50px;
        margin-left: 0px;
        margin-right: 0px;
    }

    img{
        height: 450px;
        width: 450px;
        border: 20px solid #86C129;
        margin-right: 0px;
        }

.form{
    border: 10px solid #86C129;
    background-color: black;
    margin-top: 50px;
    margin-left: 25%;
    padding: 5px;
}

footer{
    margin-top: 0px;
}

}

@media only screen and (max-width: 770px) {

    P.Paragraph{
        font-family: "Algerian";
        padding: 5px;
        font-size: 28px; 
        color: white;
        background-color: rgba(0, 0, 0, 0.8);
        border: 10px solid #86C129;
        border-radius: 10px;
        margin-top: 50px;
        margin-left: 0px;
        margin-right: 0px;
    }

    img{
        height: 300px;
        width: 300px;
        border: 20px solid #86C129;
        margin-right: 0px;
        }
    
    .form{
        border: 10px solid #86C129;
        background-color: black;
        margin-top: 50px;
        margin-left: 5%;
        padding: 5px;
        }  
    
}
    
@media only screen and (max-width: 570px) {

    P.Paragraph{
        font-family: "Algerian";
        padding: 5px;
        font-size: 32px; 
        color: white;
        background-color: rgba(0, 0, 0, 0.8);
        border: 10px solid #86C129;
        border-radius: 10px;
        margin-top: 50px;
        margin-left: 0px;
        margin-right: 0px;
    }

    img{
        height: 225px;
        width: 225px;
        border: 10px solid #86C129;
        margin-right: 0px;
        }

    .form{
        border: 10px solid #86C129;
        background-color: black;
        margin-top: 50px;
        margin-left: 10%;
        padding: 5px;
        }

        textarea{
            width: 300px;
            height: 150px;
         }

}

@media only screen and (max-width: 475px) {

    .header{
        border: 5px solid black;
        width: 100vw;
        margin-right: 0px;
        padding: 0px;
        text-align: center;
        color: black;
        background-image: url(white-patterned-wallpaper.jpg);
        font-size:  15px;

    }
    

    P.Paragraph{
        font-family: "Algerian";
        padding: 5px;
        font-size: 15px; 
        color: white;
        background-color: rgba(0, 0, 0, 0.8);
        border: 10px solid #86C129;
        border-radius: 10px;
        margin-top: 240px;
        margin-left: 0px;
        margin-right: -10px;
    }

    img{ 
        margin-top: -50px;
        margin-left: 0px;
        margin-right: -10px;
        border: 10px solid #86C129;
        }

    .form{
        width: auto;
        border: 10px solid #86C129;
        background-color: black;
        margin-top: 50px;
        margin-left: 5;
        margin-right: 150px;
        padding: 5px;
        }

    footer{
        margin-top: 130px;
    }

    textarea{
    width: 275px;
    height: 150px;
         }

}

@media only screen and (max-width: 375px) {

    footer{
        margin-top: 100px;
    }

}